# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
ios/fastlane/output
ios/fastlane/report.xml
ios/build/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Coverage report related
/coverage/
/test/coverage_helper_test.dart

packages/tab_feature_flagging/example/android/local.properties
packages/tab_feature_flagging/example/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
packages/tab_feature_flagging/example/ios/Flutter/flutter_export_environment.sh
packages/tab_feature_flagging/example/ios/Flutter/Generated.xcconfig
packages/tab_feature_flagging/example/ios/Runner/GeneratedPluginRegistrant.h
packages/tab_feature_flagging/example/ios/Runner/GeneratedPluginRegistrant.m
